{% extends 'base.html' %}
{% load static %}
{% block title %}결제내역{% endblock %}

{% block additional_head %}
<link rel="stylesheet" href="{% static 'css/preprint.css' %}?after">
{% endblock %}

{% block content %}
<div class="payment-detail-container">
    <h1 class="logo">Requested Print</h1>
    <div class="payment-detail-page">
        <h3>예약된 주문 : {{ orders_count }}</h3>
        {% for order_with_files in orders_with_files %}
            <div class="order-div">
                <h3>사물함 번호: {{ order_with_files.order.id }}</h3>
                <p>주문 날짜: {{ order_with_files.order.order_date }}</p>
                <div>
                    <p>가격: {{ order_with_files.order.order_price }}</p>
                    <p>색상: {{ order_with_files.order.order_color }}</p>
                    <p>사물함 PW: {{ order_with_files.order.order_pw }}</p>
                </div>
                <h4>파일:</h4>
                <ul class="order-files">
                    {% for file in order_with_files.files %}
                        <li><a href="{{ file.file.url }}">{{ file.file.name }}</a></li>
                    {% endfor %}
                </ul>
                {% if order_with_files.payment %}
                <div class="payment-info">
                    <h4>결제 정보</h4>
                    <p>결제 금액: {{ order_with_files.payment.desired_amount }}</p>
                    <p>결제 상태: {{ order_with_files.payment.get_pay_status_display }}</p>
                    <p>결제 수단: {{ order_with_files.payment.get_pay_method_display }}</p>
                </div>
                {% endif %}
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}