version: '3.8'
services:
  db:
    image: mysql:8.0
    container_name: print_db
    restart: always
    environment:
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
    volumes:
      - ./mysql_data:/var/lib/mysql

  web:
    build: .
    container_name: print_web
    restart: always
    depends_on:
      - db
    volumes:
      - ./secrets.json:/app/secrets.json
      - ./media:/app/media
      - ./log:/app/log

  nginx:
    image: nginx:latest
    container_name: print_nginx
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx/conf.d:/etc/nginx/conf.d
      - /etc/letsencrypt:/etc/letsencrypt
    depends_on:
      - web