{% extends 'base.html' %}
{% load static %}
{% block title %}회원 탈퇴 확인{% endblock %}

{% block additional_head %}
<link rel="stylesheet" href="{% static 'css/account.css' %}?after">
{% endblock %}

{% block content %}
<div class="centered-form-container">
    <h1 class="logo">Account Deletion</h1>
    <div class="social-login-form">
        <div class="info-box-red">
            <p>정말로 회원 탈퇴를 원하시나요?</p>
        </div>
        <div class="info-box-grey">
            <a href="{% url 'mypage' %}" class="cancel-button">마이페이지로 돌아가기</a>
        </div>
        <form action="{% url 'account_deletion_confirm' %}" method="post">
            {% csrf_token %}
            <button type="submit" class="delete-button">탈퇴하기</button>
        </form>
    </div>
</div>
{% endblock %}