{% extends 'base.html' %}
{% load socialaccount %}
{% load static %}
{% block title %}회원가입{% endblock %}

{% block additional_head %}
<link rel="stylesheet" href="{% static 'css/account.css' %}?after">
{% endblock %}

{% block content %}
<div class="centered-form-container">
    <h1 class="logo">Sign up</h1>
    <!-- 구글 아이디로 회원가입 버튼 추가 -->
    <div class="social-login-form">
        <form action="{% url 'google_login' %}" method="get">
            <button class="btn btn-primary btn-lg rounded-3 social-login-signup-button" type="submit">Sign with Google</button>
        </form>
        <form action="{% url 'kakao_login' %}" method="get">
            <button class="btn btn-primary btn-lg rounded-3 social-login-signup-button" type="submit">Sign with Kakao</button>
        </form>
    </div>
    <p>이미 계정이 있으신가요? <a href="{% url 'login' %}">로그인</a></p>
</div>
{% endblock %}
