{% extends 'base.html' %}
{% load socialaccount %}
{% load static %}
{% block title %}소셜 회원가입{% endblock %}

{% block additional_head %}
<link rel="stylesheet" href="{% static 'css/account.css' %}?after">
{% endblock %}
 
{% block content %}
<div class="centered-form-container">
    <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <h1 class="logo">social signup</h1>
        <div class="login-container">
            <div class="signup-form-group">
                <label for="{{ form.username.id_for_label }}">name:</label>
                {{ form.username }}
            </div>
            <div class="signup-form-group">
                <label for="{{ form.phone.id_for_label }}">phone:</label>
                {{ form.phone }}
            </div>
            <div class="signup-form-group">
                <label for="{{ form.email_opt_in.id_for_label }}">Subscribe to Emails:</label>
                {{ form.email_opt_in }}
            </div>
        </div>
        <div>
            <input type="submit" value="sign up" class="signup-button">
        </div>
    </form>
</div>
{% endblock %}
