{% extends "base.html" %}
{% load static %}
{% block title %}결제 준비{% endblock %}

{% block content %}
<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6">
            <div class="text-center mb-4">
                <h1 class="fw-bold display-5">결제 준비</h1>
            </div>

            <!-- 결제 안내 메시지 -->
            <div class="alert alert-info">
                <p><strong>결제가 가능한 최소 금액은 100원입니다. 100원 미만의 금액은 100원으로 자동 조정됩니다.</strong></p>
                <p>페이지 장당 가격: <strong>흑백 50원 | 컬러 250원</strong></p>
                <p>최대 신청 가능한 페이지 수: <strong>300장</strong></p>
            </div>

            <!-- 주문 정보 -->
            <div class="card p-3 mb-3">
                <h3 class="fw-bold mb-3">주문 정보</h3>
                <p><strong>주문 번호:</strong> {{ pass_order.id }}</p>
                <p><strong>파일 페이지 수:</strong> {{ base_pages }}장</p>
                <p><strong>출력 수량:</strong> {{ quantity }}회 반복 출력</p>
                <p><strong>총 출력 매수:</strong> {{ base_pages }}장 × {{ quantity }}회 = <strong>{{ pass_order.total_pages }}장</strong></p>
                <p><strong>색상:</strong> {% if pass_order.pass_order_color == "BW" %}흑백 (black) - 50원/장{% else %}컬러 (color) - 250원/장{% endif %}</p>
                <p><strong>총 금액:</strong> {{ pass_order.total_pages }}장 × {% if pass_order.pass_order_color == "BW" %}50원{% else %}250원{% endif %} = <strong>{{ pass_order.pass_order_price|floatformat:"0" }}원</strong></p>
                <p><strong>핀 번호:</strong> {{ pass_order.pass_order_pin_number }}</p>

                <h4 class="fw-bold mt-3">파일 목록:</h4>
                <ul class="list-group">
                    {% for file in files %}
                        <li class="list-group-item">{{ file.pass_order_file.name }}</li>
                    {% endfor %}
                </ul>
            </div>

            <!-- 중요 공지 -->
            <!-- <div class="alert alert-danger">
                <p>결제 후 정해진 사물함 번호가 할당됩니다. 명지대학교 학생회관 1층 preprint매장에서 고객님이 설정한 PW를 입력하여 수령할 수 있습니다.</p>
                <p>예약한 서비스는 결제 다음날 <strong>00시까지 수령</strong>하지 않을 경우, 개인정보 보호를 위해 다음 영업일 일괄 폐기됩니다.</p>
            </div> -->
            <div class="alert alert-info">
                <p>결제 후 로그인 없이 패스오더 출력 버튼을 클릭하고 <strong>핀번호를 입력하면 결제 없이 출력이 가능합니다.</strong></p>
                <p>결제 후 <strong>4주 이내에 서비스를 사용해야 하며, </strong>4주 이내에 사용하지 않은 서비스는 <strong>사용이 불가합니다.</strong></p>
            </div>
            <div class="alert alert-warning">
                <p>결제 취소는 <strong>사용하지 않았다면 1주일 이내에 언제든 취소가 가능합니다.</strong> <br>1주일 이후부터는 결제 취소시 금액반환이 되지 않으므로, 1주일 이내 주문취소를 진행해주시길 바랍니다.<br>주문취소는 프리프린트 결제내역페이지에서 가능합니다.</p>
            </div>

            <!-- 결제하기 버튼 -->
            <form method="post" action="{% url 'passorder:print_payment' %}">
                {% csrf_token %}
                <input type="hidden" name="order_id" value="{{ pass_order.id }}">
                <button type="submit" class="btn btn-primary btn-lg btn-same-width">결제하기</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
