{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %} | pre-print</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}?after">
    <link rel="stylesheet" href="{% static 'css/information.css' %}?after">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'img/logo.png' %}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    {% block additional_head %}
    {% endblock %}
</head>
<body>
    <div class="navbar">
        <div class="navbar-left">
            <a href="{% url 'root' %}">
                <img class="logo-image" src="{% static 'img/logo2.png' %}" alt="로고">
            </a>
        </div>
        <div class="navbar-right">
            <div class="navbar-center">
                <a class="introduce" href="{% url 'document_refund_support' %}">환불안내</a>
            </div>
            <div class="navbar-center">
                <a class="introduce" href="{% url 'document_guide' %}">이용방법</a>
            </div>
            <a href="{% url 'mypage' %}">
                <img class="mypage-image" src="{% static 'img/mypage2.png' %}" alt="마이페이지">
            </a>
            <a href="{% url 'print_payment_list' %}">
                <img class="cloud-image" src="{% static 'img/history.png' %}" alt="결제내역">
            </a>
        </div>
    </div>
    <div class="content">
        {% block content %}
        {% endblock %}
    </div>
    <div class="footer">
        <section class="footer-section large">
            <p>상호명: 굿인플루언서(Goodinfluencer)&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;사업자 등록 번호: 510-22-14115</p>
            <p>사업장 소재지: 경기도고양시일산동구위시티4로79, 306동2004호</p>
            <p>preprint 사업장 위치: 서울 서대문구 거북골로 34 명지대학교 학생회관 1층 preprint</p>
            <p>대표자명: 이윤서&nbsp;&nbsp;&nbsp;&nbsp;|
                &nbsp;&nbsp;&nbsp;&nbsp;대표자 연락망: judy8710@naver.com 010-6700-8710</p>
        </section>
        <section class="footer-section small">
            <div class="footer-links">
                <a href="{% url 'document_privacy_policy' %}">개인정보처리방침</a>
                <a href="{% url 'document_terms_of_service' %}">이용약관 (Terms of Service)</a>
            </div>
            <div class="footer-links">
                <a href="{% url 'document_payment_refund_policy' %}">결제 및 환불 절차</a>
                <a href="{% url 'document_customer_support_policy' %}">고객 지원 정책</a>
            </div>
            <div class="footer-links">
                <a href="{% url 'document_business_information' %}">사업자 정보&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
                <a href="{% url 'document_ecommerce_compliance' %}">전자상거래 관련 법률 준수</a>
            </div>
            <p>Copyright ⓒ (주) Knocker .all Rights Reserved</p>
        </section>
        <section class="footer-section small">
            <p>[연락망]</p>
            <p>instargram: @preprint_mju</p>
            <p>고객 문의: 010-3046-1592 | 010-4187-7322 </p>
            <p>웹 사이트 관련문의 및 오류 문의 : choiet4187@naver.com</p>
        </section>
    </div>
    <script>window.csrf_token = "{{ csrf_token }}";</script>
    {% block extra-script %}{% endblock %}
</body>
</html>