{% extends 'base.html' %}
{% load static %}
{% block title %}메인페이지{% endblock %}

{% block content %}
<div class="row justify-content-center align-items-center text-center">
  <div class="col-12 col-md-8">
    <br><br>
    <h1 class="display-5 fw-bold">언제나 어디서나,<br />당신의 프린트를 예약하세요.</h1>
    <p class="fs-5 text-muted mt-3">빠르고 편리한 온라인 예약! 기다림 없는 나의 프린트!</p>
    <br>
    <div class="mt-4 d-flex flex-wrap justify-content-center gap-3">
      {% if user.is_authenticated %}
        <a href="{% url 'passorder:print_detail' %}" class="btn btn-primary btn-lg rounded-3 btn-same-width">
          패스오더 신청
        </a>
        <a href="{% url 'passorder:passorder_pin_check' %}" class="btn btn-primary btn-lg rounded-3 btn-same-width">
          패스오더 출력
        </a>
        <a href="{% url 'locker:print_detail' %}" class="btn btn-primary btn-lg rounded-3 btn-same-width">
          사물함 예약
        </a>
        <form method="post" action="{% url 'logout' %}" class="d-inline-block">
          {% csrf_token %}
          <button type="submit" class="btn btn-primary btn-lg rounded-3 btn-same-width">
            로그아웃
          </button>
        </form>
      {% else %}
        <a href="{% url 'login' %}" class="btn btn-primary btn-lg rounded-3 btn-same-width">
          로그인
        </a>
        <a href="{% url 'signup' %}" class="btn btn-primary btn-lg rounded-3 btn-same-width">
          회원가입
        </a>
      {% endif %}
    </div>
  </div>
  <!-- 첫 번째 이미지: 상하에 각각 100px의 마진 적용 -->
  <img src="{% static 'img/main1.png' %}" class="img-fluid" style="margin: 220px 0;" alt="Main1">
  <img src="{% static 'img/main2.png' %}" class="img-fluid" alt="Main2">
</div>
{% endblock %}
