name: Deploy to Lightsail

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Deploy to Lightsail via SSH
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.HOST }}
          username: ubuntu
          key: ${{ secrets.SSH_KEY }}
          script: |
            cd ~/pre-print-service
            git pull origin main
            # 새로운 소스로 빌드 및 컨테이너 재시작
            docker-compose up -d --build
            # 오래된 이미지 정리
            docker image prune -f